<h2>Chef</h2>
<input type="hidden" [(ngModel)]="id" name="id">
<form class="u-full-width">
    <div class="row">
        <div class="six columns">
            <label for="name">Name</label>
            <input class="u-full-width" type="text" [(ngModel)]="supplier.name" name="name">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="phone">Review</label>
            <input class="u-full-width" type="text" [(ngModel)]="supplier.phone" name="phone">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="rating">Stars</label>
            <input class="u-full-width" type="number" [(ngModel)]="supplier.rating" name="rating">
        </div>
    </div>
    <a (click)="saveSupplier()" class="button">Save</a>
</form>
