<nav>
    <img src="../../assets/bowl-with-vegetables-white.svg" width="24px">
    <strong><a routerLink="/" routerLinkActive="active">T-Food</a></strong>
    <b><a routerLink="/food" routerLinkActive="active">Food</a></b>
    <b><a routerLink="/chefs" routerLinkActive="active">Chefs</a></b>
    <b><a routerLink="/suppliers" routerLinkActive="active">Suppliers</a></b>
</nav>
