nav {
    background: #5435b8;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
}

strong {
    margin-right: 10px;
    padding: 15px;
}

b {
    margin-right: 10px;
    padding: 15px;
}

a {
    text-decoration: none;
    color:inherit;
}

img {
    margin-right: 10px;
    fill: white;
}