<h2>Foods</h2>
<a routerLink="/new-dish" class="button">New Dish</a>
<div>
    <input type="text" name="searchString" [(ngModel)]="searchString"><a class="button" (click)="search()">Search</a>
</div>
<div>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let dish of food">
                <td>{{dish.name}}</td>
                <td>{{dish.description}}</td>
                <td>{{dish.price}}</td>
                <td>
                    <a class="button" routerLink="/new-dish/{{dish.id}}">Edit</a>
                    <a class="button" (click)="removeFood(dish.id)">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
