<h2>Suppliers</h2>
<a routerLink="/edit-supplier" class="button">New Supplier</a>
<div>
    <input type="text" name="searchString" [(ngModel)]="searchString"><a class="button" (click)="search()">Search</a>
</div>
<div>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Rating</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let supplier of suppliers">
                <td>{{supplier.name}}</td>
                <td>{{supplier.phone}}</td>
                <td>{{supplier.rating}}</td>
                <td>
                    <a class="button" routerLink="/edit-supplier/{{supplier.id}}">Edit</a>
                    <a class="button" (click)="removeSupplier(supplier.id)">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>