<h2>Dish</h2>
<input type="hidden" [(ngModel)]="id" name="id">
<form class="u-full-width">
    <div class="row">
        <div class="six columns">
            <label for="">Name</label>
            <input class="u-full-width" type="text" [(ngModel)]="dish.name" name="name">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="">Description</label>
            <input class="u-full-width" type="text" [(ngModel)]="dish.description" name="description">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="">Price</label>
            <input class="u-full-width" type="number" [(ngModel)]="dish.price" name="price">
        </div>
    </div>
    <a (click)="saveDish()" class="button">Save</a>
</form>