<div class="centered">
    <h1>Welcome to the T-Food App</h1>
</div>

<div>
    <h3>About Us:</h3>
    <p style="text-align: justify">
        T-Food is run by three brothers — head chef Joan, sommelier Josep, and pastry chef Jordi — who came
        by their trade honestly: they learned it from their parents. But it’s hard to imagine anything further from your
        average mom and pop cooking. In what may very well be the most beautiful dining room in Europe, a Roca meal
        dazzles with its wizardry (a starter called Eat The World that encapsulates, in five distinct bites, the tastes
        of the five different cuisines; a dessert called Messi’s Goal, that recreates, with a candied pitch, flying
        white chocolate balls, and a plateside iPod playing the roars of the crowd, what it feels like when Barcelona’s
        soccer hero Lionel Messi scores), while remaining firmly rooted in the flavors of the Mediterranean. Josep
        brings lucky guests on a tour of his cellar, where favorite wines have been singled out for multi-sensory
        treatments.
    </p>
    <h3>Contact Us:</h3>
    <p>
        Address: Av. de los Shyris y Portugal<br>
        Phone: 0999999446<br>
        Email: tfood@mail.com
    </p>
</div>

<div id='map' style='width: 800px; height: 600px;'></div>