<h2>Chefs</h2>
<a routerLink="/edit-chef" class="button">New Chef</a>
<div>
    <input type="text" name="searchString" [(ngModel)]="searchString"><a class="button" (click)="search()">Search</a>
</div>
<div>
    <table class="u-full-width">
        <thead>
            <tr>
                <th>Name</th>
                <th>Review</th>
                <th>Starts</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let chef of chefs">
                <td>{{chef.name}}</td>
                <td>{{chef.review}}</td>
                <td>{{chef.stars}}</td>
                <td>
                    <a class="button" routerLink="/edit-chef/{{chef.id}}">Edit</a>
                    <a class="button" (click)="removeChef(chef.id)">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
