<h2>Chef</h2>
<input type="hidden" [(ngModel)]="id" name="id">
<form class="u-full-width">
    <div class="row">
        <div class="six columns">
            <label for="name">Name</label>
            <input class="u-full-width" type="text" [(ngModel)]="chef.name" name="name">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="review">Review</label>
            <input class="u-full-width" type="text" [(ngModel)]="chef.review" name="review">
        </div>
    </div>
    <div class="row">
        <div class="six columns">
            <label for="stars">Stars</label>
            <input class="u-full-width" type="number" [(ngModel)]="chef.stars" name="stars">
        </div>
    </div>
    <a (click)="saveChef()" class="button">Save</a>
</form>
